<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <%- include includes/styles.ejs %>
    <link rel="stylesheet" href="css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  </head>
  <body class="text-center">

    <!-- Login Screen HTML -->
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <img class="logo" src="/img/logo.png" alt="Donders Institute Logo">
          <div id="errormsg"></div>
          <input type="text" name="username" id="username" placeholder="username" required />
          <input type="password" name="password" id="password" placeholder="password" required />
          <button id="submit">login</button>
          <a href="" class="forgot" data-toggle="modal" data-target="#helpModal">What is this?</a>
        </form>
      </div>
    </div>

    <!-- Modal for the 'What is this page and how to login?' link -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Help Section</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4>What is this page?</h4>
            <p>A login page to access the HPC Job monitor.
              An interface to show you your running, queued, completed and blocked jobs information.</p>
            <h4>How to login?</h4>
            <p>If you are a user, login with the same credentials as you use to login to your PC.</p>
            <br/>
            <p>For admins please login using your admin account.</p>
            <br/><br/>
            <small>Contributers: https://github.com/Donders-Institute/hpc-jobmon</small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <%- include includes/scripts.ejs %>
    <script type="text/javascript">
      $('#submit').on('click', (event)=>{
        event.preventDefault();
        console.log(`Login username: ${$('#username').val()}`);
        $.ajax({
          type: "POST",
          url: '/login',
          data: {username: $('#username').val(), password: $('#password').val()},
          success: function (result) {
            console.log(result);
            if (result.success) {
              $('#errormsg').append(`
                <div class="alert alert-success alert-dismissible fade show">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> ${result.data}
                </div>
              `);
              window.location.replace("/");
            }else{
              $('#errormsg').append(`
                <div class="alert alert-danger alert-dismissible fade show">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> ${result.error}
                </div>
              `);
            }
          },
          error: function() {
            console.log('error');
            $('#errormsg').append(`
              <div class="alert alert-danger alert-dismissible fade show">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> ${result.error}
              </div>
            `);
          }
        });
      });
    </script>

  </body>
</html>
